/*  your css code here. If applicable */
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p{
	text-align: center;
	background-color: yellow;
}
#f1{
	text-align: center;
	background-color: yellow;
}
#f2{
	text-align: center;
	background-color: yellow;
}